@import 'tailwindcss';

:root {
  --primary: black;
  --secondary: #ededed;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --spacing-lg: 15px;
  --spacing-md: 10px;
  --spacing-sm: 5px;
}

.react-tweet-theme {
  max-width: none !important;
}

@media (max-width: 80rem) {
  .work-item {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 64rem) {
  .work-item {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 32rem) {
  .work-item {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

*:focus,
*:active {
  outline: 0;
  border: 0;
}

b,
strong {
  color: #fb2c36;
}

h2 {
  @apply w-max font-mono text-6xl lg:text-7xl uppercase mx-auto scale-y-[1.2]
}

*,
html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  font-size: 12px;
}

body {
  background: var(--primary);
  color: var(--secondary);
}
