@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #171717;

  --spacing-lg: 15px;
  --spacing-md: 10px;
  --spacing-sm: 5px;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-primary: #111213;
    --color-secondary: #ededed;
  }
}

.react-tweet-theme {
  max-width: none !important;
}

b,
strong {
  color: #51a2ff;
}

*,
html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
}
